:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7FC2FF;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #202020;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container{    
    position: relative;
    /* width: 352px; */
    /* height: 198px; */
    margin: 0 auto;
    outline: 1px solid white;

    /* transform: scale(3) translateY(50%); */
    transform: scale(1.5) translateY(0%);
    /* transform: scale(1) translate(50%); */
    /* transform:translateY(20%); */
}

.game-container canvas{
    /* Removes the blur, which occurs due to scaling */
    image-rendering: pixelated;
}


